.about-page {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 1rem 1rem;
  line-height: 2rem;
  user-select: text;

  .about-paragraph {
    font-size: 1.1rem;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    color: var(--color-white);
    text-shadow: none;
    user-select: text;
  }

  .about-link {
    text-decoration: underline;
    color: var(--color-gold-1);
    user-select: text;
  }

  .map {
    border: none;
  }
}
