.button {
  padding: 1rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  white-space: nowrap;
  border: 1px solid var(--color-gold-3);
  box-shadow: 0 0 0.75rem 0 var(--color-black);
  color: var(--color-gold-3);
  background: linear-gradient(270deg, var(--color-gold-3), var(--color-gold-5), transparent, transparent) 1% 50%;
  background-size: 300% 300%;
  transition: var(--transition-lg);
  cursor: pointer;

  &.w-full {
    width: 100%;
  }

  &:hover {
    color: var(--color-white);
    background-position: 99% 50%;
  }
}
