.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 100%;
    height: 30rem;
    background-position: center;
    background-size: cover;

    .banner-filter {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      backdrop-filter: grayscale(0.5) brightness(0.5);
      box-shadow: inset 0 0 0.5rem 1rem var(--color-black);
    }
  }

  .catalog-list {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .product-wrapper {
      width: 100%;
      height: 26rem;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  }
}

@media(min-width: 600px) {
  .catalog {
    .catalog-list {
      .product-wrapper {
        width: 50%;
      }
    }
  }
}

@media(min-width: 992px) {
  .catalog {
    .catalog-list {
      .product-wrapper {
        width: calc(100% / 3);
      }
    }
  }
}
