.checkbox-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--color-gold-3);

  .checkbox-label {
    display: flex;
    cursor: pointer;

    .checkbox {
      width: 1.5rem;
      opacity: 0;
      z-index: -1;

      &:checked + .checkbox-mark {
        background: var(--color-gold-2);
      }
    }

    .checkbox-mark {
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -1.5rem;
      border: 1px solid var(--color-gold-3);
      background: var(--color-alpha-dark);
      transition: var(--transition-md);
    }
  }
}
