.cookie-alert-wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  width: min(calc(100% - 2rem), 28rem);
  max-width: calc(100% - 4rem);
  transform: translate(-50%, 0);
  padding: 1rem;
  border: 1px solid var(--color-gold-3);
  background: var(--color-black);
  z-index: 10;

  .cookie-alert {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .cookie-alert-message {
      font-size: 1.25rem;
      line-height: 2rem;
      text-align: center;
      color: var(--color-gold-1);

      .cookie-alert-link {
        text-decoration: underline;
        color: var(--color-gold-1);
      }
    }

    .cookie-alert-options {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .decline {
        text-transform: uppercase;
        letter-spacing: 0.3em;
        padding: 1rem 3rem;
        font-size: 1rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media(min-width: 400px) {
  .cookie-alert-wrapper {
    .cookie-alert {
      .cookie-alert-options {
        justify-content: space-between;
      }
    }
  }
}
