.crafting-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 100%;
    height: 80rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    .banner-filter {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      line-height: 2rem;
      backdrop-filter: grayscale(0.5) brightness(0.5);
    }
  }
}
