.footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-alpha-dark);

  .footer-menu {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .footer-menu-element {
      width: calc(100% / 2);
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      .footer-menu-element-link {
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        color: var(--color-gold-1);
        transition: var(--transition-md);

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
}

@media(min-width: 600px) {
  .footer-wrapper {
    .footer-menu {
      .footer-menu-element {
        width: calc(100% / 3);
      }
    }
  }
}

@media(min-width: 768px) {
  .footer-wrapper {
    .footer-menu {
      .footer-menu-element {
        width: calc(100% / 6);
      }
    }
  }
}
