.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-alpha-dark);
  z-index: 100;

  .header-menu {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;

    .header-menu-element {
      width: 20%;
      display: flex;
      justify-content: center;
      color: var(--color-gold-1);

      &:hover {
        color: var(--color-white) !important;
      }

      &.crafting {
        order: -2;
      }

      &.collection {
        order: 1;
      }

      .header-menu-link {
        font-size: 0.9rem;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        color: inherit;
        transition: var(--transition-md);

        .logo {
          width: auto;
          height: 3.75rem;
          filter: brightness(2);
        }
      }
    }
  }
}

@media(min-width: 360px) {
  .header {
    .header-menu {
      .header-menu-element {
        &.collection {
          order: -1;
        }
      }
    }
  }
}

@media(min-width: 400px) {
  .header {
    .header-menu {
      .header-menu-element {
        .header-menu-link {
          font-size: 1rem;
        }
      }
    }
  }
}

@media(min-width: 460px) {
  .header {
    .header-menu {
      .header-menu-element {
        .header-menu-link {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media(min-width: 1280px) {
  .header {
    .header-menu {
      .header-menu-element {
        .header-menu-link {
          .logo {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
