.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  .banner-row {
    display: flex;
    flex-direction: column;
  }

  .banner-wrapper {
    transition: var(--transition-lg);
    overflow: hidden;

    &:hover {
      .banner {
        transform: scale(1.05);

        .banner-filter {
          backdrop-filter: grayscale(0.25) brightness(0.75);
        }
      }
    }
  }

  .banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    transition: transform var(--transition-md);

    &.sm {
      height: 40rem;
    }

    &.md {
      height: 60rem;
    }

    &.lg {
      height: 80rem;
    }

    &.parallax {
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

    .banner-filter {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 2rem;
      backdrop-filter: grayscale(0.5) brightness(0.5);
      transition: var(--transition-md);

      .order-form-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .transition-block {
        width: 90%;
        height: 25%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        line-height: 1.75rem;
        background: var(--color-alpha-dark);
        transition: var(--transition-lg);
        cursor: pointer;

        &:hover {
          filter: drop-shadow(0 0 0.5rem var(--color-black));
        }

        &:nth-child(1) {
          right: 0;
          top: 10%;
        }

        &:nth-child(2) {
          left: 0;
          bottom: 10%;
        }
      }
    }
  }
}

@media(min-width: 600px) {
  .home-page {
    .banner {
      .banner-filter {
        .transition-block {
          width: 70%;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  .home-page {
    .banner-row {
      flex-direction: row;

      .banner-wrapper {
        width: 50%;

        &:hover {
          width: 60%;
        }
      }
    }

    .banner {
      .banner-filter {
        .transition-block {
          width: 60%;
        }
      }
    }
  }
}

@media(min-width: 992px) {
  .home-page {
    .banner {
      .banner-filter {
        .transition-block {
          width: 50%;
          height: 20%;

          &:nth-child(1) {
            right: 0;
            top: 15%;
          }

          &:nth-child(2) {
            left: 0;
            bottom: 15%;
          }
        }
      }
    }
  }
}

@media(min-width: 1280px) {
  .home-page {
    .banner {
      .banner-filter {
        .transition-block {
          width: 40%;

          &:hover {
            width: 50%;
            padding: 3rem calc(3rem + 5%);
          }
        }
      }
    }
  }
}
