.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.5rem;

  &.w-full {
    width: 100%;
  }

  .wrapper-label {
    color: var(--color-gold-3);
  }

  .input-field {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-gold-3);
    box-shadow: 0 0 0.75rem 0 var(--color-black);
    font-size: 1.25rem;
    color: var(--color-gold-3);
    background: var(--color-alpha-dark);
    transition: var(--transition-md);

    &:focus {
      outline: none;
      border: 1px solid var(--color-gold-1);
    }
  }
}
