.order-form {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background: var(--color-alpha-dark);

  .order-form-link {
    text-decoration: underline;
    color: var(--color-gold-3);
  }
}
