.product {
  width: 100%;
  max-width: 32rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .product-banner {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gold-3);
    overflow: hidden;

    .product-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      transition: var(--transition-md);

      .banner-filter {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        transition: var(--transition-md);

        .button {
          display: none;
        }

        &:hover {
          backdrop-filter: brightness(0.5);

          .button {
            display: flex;
          }
        }
      }
    }

    &:hover {
      .product-image {
        transform: scale(1.05);
      }
    }
  }

  .product-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 5rem;
  }
}
