.thanks-page {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/banner5.webp');
  background-position: center;
  background-size: cover;

  .banner-filter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: grayscale(0.5) brightness(0.5);

    .message {
      width: 100%;
      max-width: 1280px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
    }
  }
}
