:root {
    --color-white: #FFFFFF;
    --color-black: #090909;
    --color-alpha-dark: #00000088;
    --color-gold-1: #d3cc77;
    --color-gold-2: #DFBE6AB2;
    --color-gold-3: #dfbe6acc;
    --color-gold-4: #DFBE6A4C;
    --color-gold-5: #926f34cc;

    --transition-sm: 0.1s ease-out;
    --transition-md: 0.3s ease-out;
    --transition-lg: 1s ease-out;
}

/* default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    user-select: none;
}

html {
    font-size: 12px;
    animation: transition 3s ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.5rem;
}

h1, h2 {
    line-height: 2.5rem;
}

h1, h2, p {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    color: var(--color-gold-1);
    text-shadow: 0 0.25rem 0.125rem var(--color-black);
    filter: drop-shadow(0 0 0.75rem var(--color-black)) drop-shadow(0 0 0.75rem var(--color-black));
    user-select: text;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background: var(--color-gold-1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-gold-3);
}

/* selection */

::-moz-selection {
    color: var(--color-white);
    background: var(--color-gold-2);
}

::selection {
    color: var(--color-white);
    background: var(--color-gold-2);
}

/* custom classes */

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.m-half {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-3 {
    margin: 3rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.hidden {
    display: none !important;
}

/* adaptivity */

@media (min-width: 360px) {
    .show-xs {
        display: flex !important;
    }

    .hide-xs {
        display: none !important;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 13px;
    }

    .show-sm {
        display: flex !important;
    }

    .hide-sm {
        display: none !important;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    html {
        font-size: 16px;
    }

    .show-md {
        display: flex !important;
    }

    .hide-md {
        display: none !important;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }

    .show-lg {
        display: flex !important;
    }

    .hide-lg {
        display: none !important;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 16px;
    }

    .show-xl {
        display: flex !important;
    }

    .hide-xl {
        display: none !important;
    }
}

@keyframes transition {
    0% {
        filter: grayscale(1);
    }
    100% {
        filter: none;
    }
}
